@media (max-width: 960px){
    .header__menu-btn{
        display: block;
    }

    .header__menu > ul{
        display: none;
        position: absolute;
        top: 120px;
        left: 0;
        right: 0;
        width: 100%;
        background-color: #fff;
        z-index: 2;
        border-bottom: 5px solid #2aacc8;
    }

    .header__menu li{
        display: block;
        text-align: center;
    }
    
    .header__menu li + li{
        margin-left: 0;
    }

    .header__drop-down.drop-down + .header__link-blog{
        margin-left: 0;
    }

    .header__drop-down.drop-down{
        margin-left: 0;
    }

    .header__drop-down.drop-down + .header__drop-down.drop-down{
        margin-left: 0;
    }

    .header__menu a{
        padding: 13px 0 13px 11px;
        font-weight: 400;
        display: block;
        text-transform: none;
    }

    .header__menu li + li a {
        border-top: 1px solid #e7e7e7;
    }

    .drop-down__list{
        position: static;
        display: none; 
        height: 0;
        overflow: hidden;
        opacity: 0;
        width: 100%;
        border-bottom: none;
        padding: 0;
    }

    .drop-down__list.active{
        height: auto;
        overflow: visible;
        opacity: 1;
        display: block;
    }

    .header__drop-down.drop-down:hover > a{
        color: #000;
        border-top: 1px solid #e7e7e7;
        background-color: #fff;
        transition: all .5s;
    }

    .header__drop-down > a.active::after{
        transform: rotate(180deg);
    }

    .items__inner{
        flex-wrap: wrap;
    }

    .item{
        width: 50%;
        margin-bottom: 20px;
        padding-right: 15px;
    }

    .clients-logo{
        padding-left: 15px;
    }

    .download__btn{
        margin-left: 15px;  
    }

    .footer__bottom{
        align-items: center;
    }

    .footer__copy{
        padding-right: 15px;
    }
}

@media (max-width: 900px){
    .footer__inner{
        flex-wrap: wrap;
    }

    .footer__item-social{
        width: 60%;
        margin-top: 20px;
    }
}

@media (max-width: 780px){
    .clients__inner{
        flex-wrap: wrap;
    }

    .testimonials{
        max-width: 100%;
    }

    .clients-logo{
        padding-right: 0;
        margin: 0 auto;
    }

    .footer__item-content{
        width: 100%;
        margin-bottom: 20px;
    }
}

@media (max-width: 670px){
    .download{
        flex-wrap: wrap;
    }

    .download__btn{
        padding-left: 0;
        margin: 30px auto 0;
    }

    .clients-logo__images img{
        max-width: 100%;
    }
    .footer__item-social{
        width: 100%;
    }
}

@media (max-width: 520px){
    .slider__item-title{
        font-size: 40px;
        line-height: 45px;
        margin-left: 20px;
    }
    
    .item{
        padding-right: 0;
        width: 100%;
    }
}

@media (max-width: 420px){
    .footer__item-contact{
        width: 100%;
        margin-top: 20px;
    }

    .footer__inner{
        justify-content: start;
    }

    .footer__bottom{
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer__copy{
        padding-right: 0;
        margin-bottom: 20px;
    }
}

@media (max-width: 370px){
    .footer__social li{
        width: 33.3%;
    }
}

@media (min-width: 960px){
    .header__menu > ul{
        display: block !important;
    }
}